* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    font-weight: bold;
    height: 100%;
    font-size: 10px;
    background: rgb(249, 228, 222);
}

.menu-box {
    display: inline-block;
    position: fixed;
    top: 40px;
    width: 120px;
    height: 100%;
}



.box {
    display: inline-block;
    margin-left: 120px;
    left: 179px;
    width: 90%;
    height: 100%;

}

.box-1 {
    margin: 20px;
    padding-left: 25px;
}

.box-2 {
    margin: 20px 180px;
    padding: 5px;


}

.box-3 {
    margin: 20px;
    padding: 5px;
}


.box-31 {
    display: inline-block;
    margin: 20px;
    padding: 5px;
    width: 20%;
    height: 100%;
}

.box-32 {
    display: inline-block;
    margin: 20px;
    padding: 5px;
    width: 70%;
    height: 100%;
}


.box-33 {
    height: 50%;
    width: 100%;
    margin-left: 29px;

}


.box-34 {
    display: inline-block;
    width: 45%;
    padding: 5px;

}

.box-35 {
    display: inline-block;
    width: 45%;
    padding: 5px;
}


.box-36 {
    margin-top: 20px;
    height: 100px;
    padding: 5px;

}
